*.lo
.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configs/.libs/
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
requests/.libs/
responses/.libs/
routes/.libs/
run-tests.php
views/.libs/
yaf.la
